/* Định dạng banner */
.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 70%;
  height: 300px;
  object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
}

/* Định dạng phần tiêu đề và sắp xếp */
.shopcategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 170px;
}

/* Định dạng phần sắp xếp */
.shopcategory-sort {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.shopcategory-sort p {
  margin: 0;
  margin-right: 10px;
  font-weight: 600;
}

.shopcategory-sort select {
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
}

.shopcategory-sort img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* Định dạng các sản phẩm */
.shopcategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

/* Định dạng nút "Explore more" */
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

/* Responsive design */
@media(max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    gap: 40px;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media(max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media(max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
